
h1{
    text-align: center; color: cornsilk; background-color: darkblue; text-transform: uppercase;
}
h2{
    text-align: center; text-transform: uppercase; text-decoration: overline;
}

p.centrets{
    text-align: center; font-style: italic; font-variant: small-caps;
}
p.labais{
    color: darkred; text-decoration: underline;text-align: right;
}
p.abas{
    text-align: justify; letter-spacing: 5px;
}
#bc{
    background-color: rgb(176, 247, 248);
}